


/*		Default Layout: 992px.  */
.selectnav{display:none;}
#nav{display:inline-table;}



/*		Tablet Layout: 768px.   */

@media only screen and (min-width: 768px) and (max-width: 1000px) {
	
.selectnav{display:none;}
#nav{display:inline-table;}
	.coloumn{
width:768px;
margin:0 auto;
}
.slider{}
.menu_second {
  width: 152px;
}
.content {
  width: 768px;
}
.left_sidebar {
  width: 150px;
}
.main_content {
  width: 342px;
}
.right_sidebar {
  width: 149px;
}
.events_des {
  width: 146px;
}
.about_us {
  padding: 10px 10px;
  width: 172px;
}
.footer_top {
  padding:30px 0px;
  width: 768px;
  margin:0 auto;
}
.footer_bottom{
margin: 0 auto;
width: 768px;
}
.footer_area{
width:768px;
}
}



/*		Mobile Layout: 320px.*/

@media only screen and (max-width: 479px) {
	
.selectnav{display:block;}
#nav{display:none;}
.coloumn{
width:320px;
margin:0 auto;
}
.header{
height:304px;
}
.header_top_right {
  float: left;
}
.mobile_view_header{
margin-left:50px;
}
.header_mid_social {
  float: left;
  margin-left: 86px;
}
.header_menu_search input[type="search"] {
  width: 0px;
}
input[type=search]{
width:0px;
padding-left:10px;
color:transparent;
cursor:pointer;
}
input[type=search]:hover{
background-color:#fff;
}
.header_menu_search input[type=search]:focus{
width:100px;
padding-left:32px;
color:#000;
background-color:#fff;
cursor:auto;
}
.slider{display:none}
.menu_second {
width:63px;
}
.menu_second:hover{
  cursor: pointer;
  margin-top:20px;
  height:147px;
}
.content {
  width: 320px;
}
.left_sidebar {
width:277px;
}
.main_content { 
width:277px;
}
.right_sidebar {
width:277px;
}
.news_pick_des {
  float: right;
  width: 274px;
}
.events_des {
  float:left;
}

.about_us {
width:300px;
}
.footer_top {
  padding:30px 0px;
  width: 320px;
  margin:0 auto;
}
.footer_bottom{
margin: 0 auto;
width: 320px;
padding:25px 0px;
}
.footer_area{
width:320px;
}
}



/*		Wide Mobile Layout: 480px.    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
.selectnav{display:block;}
#nav{display:none;}
#cssmenu{display:block;}
.coloumn{
width:480px;
margin:0 auto;
}
.header{
height:188px;
}
.header_top_right {
  float: left;
}
.header_menu_search input[type="search"] {
  width: 0px;
}
input[type=search]{
width:0px;
padding-left:10px;
color:transparent;
cursor:pointer;
}
input[type=search]:hover{
background-color:#fff;
}
.header_menu_search input[type=search]:focus{
width:100px;
padding-left:32px;
color:#000;
background-color:#fff;
cursor:auto;
}

.menu_second:hover{
  cursor: pointer;
  margin-top:20px;
  height:147px;
}
.slider{display:none}
.menu_second {
  width:95px;
}
.content {
  width: 480px;
}
.left_sidebar {
 width:434px; 
}
.main_content { 
}
.right_sidebar {
 width:434px;
}
.events_des {
  
}
.about_us {
width:210px;
}
.footer_top {
  padding:30px 0px;
  width: 480px;
  margin:0 auto;
}
.footer_bottom{
margin: 0 auto;
width: 480px;
}
.footer_area{
width:480px;
}
	
}